
body
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    
    
}
h1{
    font-size: 90px;
    margin:50,auto,0,auto;
    font-family: 'Sacramento', cursive;
    color:#FFF323;
}
h2{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color:#FFCA03;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#FF5403;
}
.top-container{
    background-color:#F90716;
    position: relative;
    padding:100px;

}
.middle-container{
    margin: 100px 0;
   
}
.bottom-container{
    background-color: #FFCAB0;
    
}
.pro{
    text-decoration:line-through;
}
.bottom-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.top-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.dhoni{
    height: 150px;
    width: 150px;
    border-radius: 20%;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.ms{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    float:left;
    margin-right: 20%;
}
.mahi{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    float:right;
    margin-left: 20%;
}
